.container-box {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	margin: 1rem;

	width: 346px;
	height: 191px;

	font-family: 'Inter';
	font-weight: 600;
	font-size: 20px;
	line-height: 20px;

	background: white;
	margin-bottom: 10px;
}

img {
	width: 48px;
	height: 48px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 10px;
	margin-right: 10px;
	border: 2px solid #E5E7EB;
	border-radius: 24.0192px;
}

.container-box-logo {
	display: flex;
	align-items: center;
}

.container-box-subtitle {
	width: 330px;
	height: 60px;

	margin-left: 1rem;
	margin-right: 1rem;

	font-family: 'Inter';
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	color: #52606D;
}

.container-box-text {
	width: 330px;
	height: 60px;

	margin-left: 1rem;
	margin-right: 1rem;

	font-family: 'Inter';
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	color: #6B7280;
}

.container-box-icon {
	display: flex;
	align-items: center;

	width: 346px;
	height: 60px;

	font-family: 'Inter';
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	color: #6B7280;
}

.container-box-icon svg {
	margin-right: 5px;
	margin-left: 10px;
}