.container-footer {
	background-color: black;
	width: 100%;
	min-height: 150px;
	position: fixed;
	bottom: 0;
	overflow: auto;
	/* z-index: 999; */
	/* padding-bottom: 150px; */
}

.wrapper-footer {
	text-align: center;
	color: white;
	margin: 1rem;
}

.string-footer {
	margin: 0;
	display: inline-block;
}

.logo-footer {
	display: flex;
	justify-content: center;
	color: white;
	margin-top: 20px;
	gap: 30px;
}